<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201522669249-jgla8r798igfpsa5pitt5g07vbl05ne1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201522669249-jgla8r798igfpsa5pitt5g07vbl05ne1</string>
	<key>API_KEY</key>
	<string>AIzaSyBp29-DZifijQUhxXfetABKVDOABIT05Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>201522669249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcelodeabreu.app2doo</string>
	<key>PROJECT_ID</key>
	<string>fir-ios2dooapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ios2dooapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201522669249:ios:8523dd5bffdd054a949640</string>
</dict>
</plist>